.post {
	font-size:16px;
}
.content {
	font-family:"Cambria";
	background: #ADFFD6;
	border:1px solid #000000;
	//-webkit-border-radius: 20px;
	//-moz-border-radius: 20px;
	//border-radius: 20px;
	box-shadow: 5px 1px 1px #006600;
	//margin: 30px 30px 30px 30px;
	padding-left: 40px;
	padding-bottom:20px;
	padding-right:20px;
	width: 440px;
}
#editContents {
	background: white !important;
}
.form-heading {
    color:#006600;
}
.sub-heading {
    color:#006600;
    font-style:italic;
    font-size:12px;
    margin-top:-20px;
}
body {
	background:#4DB870;
	margin: 60px 100px 60px 100px;
}
.sidebar {
    position:fixed;
    height: 100%;
    width: 275px;
    background:#006600;
    top: 0;
    left: 0;
    font-family: "Lucida Sans", serif;
    color:white;
}
.navigation-content {
	top:10px;
	right:10px;
	position:fixed;
}
.nav-buttons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-buttons li {
	background:grey;
	opacity:0.7;
	border: 1px solid black;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:60px;
	font-size:10px;
	display:inline;
	margin:0;
	padding: 0 10px 0 10px;

}
#show-requests-link {
	text-decoration:none;
	color:#6600CC;
}
.user-avatar {
	border-radius:80px;
	-moz-border-radius:80px;
	-webkit-border-radius:80px;
	float:left;
	margin-right:10px;
}
#num-requests {
	background:red;
	color:yellow;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	display:none;
	padding: 5px 5px 5px 5px;
}
.nav-buttons li a {
	text-decoration:none;
	color:black;
}
.sidebar-main {
    margin-left:40px;
}
.links ul {
    list-style:none;
    font-size:12px;
	margin-top:10px;
	
	font-family: "Lucida Sans", serif;
}
.links li a {
    color:white;
    text-decoration:none;

}
.main {
	margin-left:350px;
}
.links li {
	margin-left:-30px;
    width:100px;
    
}
.pagination {
    font-size:12px;
}
.pagination-number {
	margin-left:50px;
}
.next_page, .previous_page {
    color:white;
    text-decoration:none;
}
.next_page {
	margin-left:40px;
}
.links a:hover {
    color:#E6B8E6;
     -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.post-date {
	font-size: small;
}
.title:hover {
	color:#E6B8E6;
}
.next_page:enabled:hover, .previous_page:enabled:hover {
    color:#E6B8E6;
}
.title {
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size:20px;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:20px;
    width:150px;
    text-align:center;
}
.profile-thumb {
	float:left;
	margin-right:10px;
}
.sidebar-image {
    //width:120px;
    //height:120px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    margin-top:20px;
    text-align:center;
}
.description {
    font-size:10px;
    width:100px;
    font-family:"Lucida Sans", serif;
    margin-left:10px;
    text-align: center;
}
.tags-row {
	//margin-left:10px;
	margin-bottom:10px;
}
.tags {
	font-size:12px;	
	margin-left: 10px;
}
.tags a {
	text-decoration: none;
	color: #009933;
}

.block-quote {
	border-left: 2px solid grey;
	padding-left:10px;
}
.block-quote, .block-quote-outer {
	margin-left:10px;
}
.block-quote-outer a {
	color:black;
}
.print-tags {
	color:#009933;
	font-size:12px;
	/*opacity: 0;
	-webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.5s;*/
}
.print-tags:hover {
	/*opacity: 1; */
}