<head>
	<style>
		body {
			background:#666699
		}
		.main {
			margin-left: 150px;
			padding-top: 0;
			padding-bottom:20px;
			background:#52527A;
			width:700px;
			padding: 0 30px 0 30px;
			border-radius: 20px;

		}
		.chat-image-file {
			max-width: 90%;
			height: auto;
		}
		.list-buttons, .private-message-list, .chat-list {
			list-style-type: none

		}
		.list-buttons li {
			display:inline;
		}
		.icon {
			width:60px;
			height:60px;
			margin-right:10px;
		}
		.buttons {
			margin-left:300px;
			background:#52527A;
			width:450px;
			border-radius:20px;
			border: solid 1px #393955;
			
		}
		.control-text {
			display:inline;
		}
		.content-divider {
			height: 30px;
			clear:left;
		}
		.youtube-content {
			margin-bottom:25px;
		}
		#youtube-video {
			width: 375px;
			height: 211px;
			margin-top:40px;
		}
		#image-upload {
			border: 5px dashed grey;
			background: #52527A;
			width:340px;
			height:100px;
			text-align:center;
			margin-top:20px;
		}
		#image-file {
			max-width:420px;
			height: auto;
			display:none;
			margin-top:10px;
			
		}
		#youtube-tags_tagsinput {
			width: 370px !important;
		}
		#image-content, .image-buttons {
			margin-left:80px;
		}
		.chat {
			position: fixed;
			bottom: 0;
			right: 0;
			background: #C2C2D6;
			height:15px;

		}
		.chat-header ,.chat {
			width: 200px;
			border-radius:3px;
		}
		.chat-header {
			background: blue;
			font-size:12px;
			text-align:center;
			border: 1px solid #000099;
			margin: 0;
		}

		.chat-list li {
			font-size:11px;
			height:30px;
		}
		.chat-avatar {
			border-radius:30px;
			float:left;
			width:30px;
			height:30px
		}
		.chat-username {
			margin-top:15px;
		}
		.private-message {
			position:fixed;
			bottom:0;
			height:360px;
			width:280px;
			background: #C2C2D6;
			font-size:12px;
		}
		.private-message-header {
			margin:0;
			background:blue;
			font-size:12px;
			text-align:center;
			box-shadow: 1px 1px grey;

		}
		.private-message, .private-message-header {
			border-radius:3px;

		}
		.private-message-list {
			border-radius:20px;
			height:280px;
			overflow-y: scroll;
			word-wrap: break-word;
		}
		.message-from {
			background: grey;
			margin-left:50px;
		}
		.message-self {
			background:#9191C8;
		}
		.message-from, .message-self {
			margin-bottom:10px;
			width:150px;
			border-radius:20px;
			padding: 5px 10px 5px 10px;
		}
		
		.chat-text {
			width: 96%;
			height:12px;
		}
		.chat-image {
			margin-top:5px;
			width: 20px;
			height: 20px;
			cursor:hand;
			cursor:pointer;
		}
		.chat-button {
			width:16%;
		}
		.message-label-self, .message-label-from {
			font-size: 10px;
			font-style: italic;
			margin-bottom:5px;
		}
		.message-label-self {
			margin-left:15px;
		}
		.message-label-from {
			margin-left:75px;
		}
		#sidebar {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			height: 100%;
		}
	</style>
</head>
<body>
	<div id="sidebar"></div>
	<h1 class="logo"><a href="<%= user_dashboard_path %>"><span class="logo-bracket">[</span>blogger<span class="logo-bracket">].</span></a></h1>
	<div class="search-row">
		<i class="fa fa-search" style="margin-right:10px;"></i><input type="text" class="control-text" name="search" id="search">
	</div>
	<div class="chat">
		<h3 class="chat-header">Chat</h3>
		<ul class="chat-list"></ul>
	</div>