<head>
	<link rel="stylesheet" href="/stylesheets/selectivity-jquery.min.css">
	<style>
		body {
			background: #f4f4f4;
		}
		.archive-settings {
			position: absolute;
			top: 0;
			left: 0;
			padding-top: 10px;
			padding-left:10px;
			height: 50px;
			border-bottom: 1px solid grey;
			width: 100%;
			/*background: #3333cc*/
			background: #666699;
		}
		.control-label {
			font-size: 12px;
		}
		.content {
			margin-right: 20px;
			float: left;
			border-radius: 0;
			border: none;
			width: 225px;
			height: 150px;
			margin-bottom: 20px;
			overflow: hidden;
			padding: 0;
			float: left;
			background: white;
			color: black;
		}
		.main {
			margin: 70px 0 0 0;
			width: 101%;
		}
		.post {
			font-size: 10px;
		}
		.date-overlay {
			display: none;
			z-index: 1;
			text-align: center;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left:0;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.4);
			color: white;
		}
		.date-overlay-date {
			margin-top: 40px;
			color: white;
			font-size: 14px;
		}
		.content img, .content iframe {
			position: absolute;
			top: 0;
			left: 0;
		}
		.content a {
			color: black;
			text-decoration: none;
			overflow: hidden;
		}
		.archive-year-select, .archive-month-select {
			background: gold;
			border-radius: 25px;
		}
		.archive-select {
			width: 125px;
			height: 20px;
		}
	</style>
</head>
<body>

	<div class="archive-settings">
		<div class="archive-select"></div>
	</div>

	<div class="main">
		<%= render partial: 'archive_posts' %>
	</div>
	<script src="/js/selectivity-jquery.min.js"></script>
	<script src="/js/masonry.pkgd.min.js"></script>
	<script>
		
		var months = [
			'January',
			'February',
			'March',
			'April',
			'May',
			'June',
			'July',
			'August',
			'September',
			'October',
			'November',
			'December'
		];


		$(function() {
			resize_elements();

			var select = <%= @select.html_safe %>;
			var items = [];
			for (year in select) {
				if (select.hasOwnProperty(year)) {
					var object = {
						id: year,
						text: year,
						submenu: {
							showSearchInput: select[year].length == 12 ? true : false,
							items: []
						}
					};

					for (var i = 0; i < select[year].length; i++) {
						object.submenu.items.push({
							id: select[year][i] + ' ' + year,
							text: select[year][i]
						})
					}

					items.push(object);
				}
			}

			console.log(items);
			//now that the items have been built, create the select box
			$('.archive-select').selectivity({
				placeholder: 'Year',
				showSearchInputInDropdown: Object.keys(select).length > 6 ? true : false,
				items: items
			});

			$('.content').has('img').each(function() {
				console.log('found a post with images');
				$(this).css({
					height: '275px'
				})
			})

			$(".archive-select").on("change", function() {
				console.log($('.archive-select').selectivity('val'));
				$.get(
					'/users/<%= @user.id %>/fetchArchivePosts', 
					{ date: $(".archive-select").selectivity('val') },
					function(data) {
						if (data != 'false') {
							$('.main').masonry('remove', $('.content')).masonry('layout');
							var posts = $('<div>').append(data).find('.content');
				
							$('.main').append(posts).masonry('appended', posts);

							bind_hover();
							resize_elements();
						}

					}
				)
			});

			masonry_init();

			bind_hover();


		});

		function masonry_init() {
			$('.main').masonry({
				itemSelector: '.content',
				columnWidth: 250
			})
		}

		function bind_hover() {
			$('.content').hover(function() {
				$(this).children(':first').children(':first').show();
			}, function() {
				$(this).children(':first').children(':first').hide()
			})
		}

		function resize_elements() {
			$('iframe').each(function() {
				$(this).css({
					height: $(this).height()/1.7 + 'px',
					width: $(this).width()/1.7 + 'px'
				});
			});
		}

	</script>
	<div class="navigation-content">
	    <ul class="nav-buttons">
	        <% if session[:userid] %>
	            <li id="Logout"><a href="/users/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
	            <li id="Dashboard"><a href="<%= user_dashboard_path %>"><i class="fa fa-tachometer"></i>Dashboard</a></li>
	        <% end %>
	        
	    </ul>
	</div>
</body>