<head>
	<title>Blogger - Log in</title>
	<style>
	ul {
		list-style-type: none;
		font-family: Calibri;
	}
	h2 {
		font-size:20px;
		font-family:Calibri;
		background-color:blue;
		color:white;
		border-top: 1px solid #000000;
	}
	p {
		font-family:Calibri;
	}
	#logonpanel {
		width:300px;
		//height:157px;
		background: #F2F2FA;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
		border-bottom: 1px solid #000000;
		margin: 200px 0px 0px 350px;
		font-family: Calibri;
		font-size: 16px;
	}
	#validate {
		font-weight:bold;
		margin-top: 50px;
		text-align:center;
		color: #B20000;
	}
	.inputs {
		margin-left:80px;
	}
	h3 {
		padding: 0;
		margin:0;
		color:#7A7ACC;
		text-align:center;
	}
	#registerpanel {
		margin: 200px 0px 0px 350px;
		font-size: 12px;
		display:none;
		width:300px;
	}
	#pass-alert {
		display:none;
		font-size:10px;
		text-align:center;
	}
	#username, #pass {
		border-top: 2px solid grey;
	}
	</style>	
</head>
<h1 class="logo"><span class="logo-bracket">[</span>blogger<span class="logo-bracket">].</span></h1>
<p style="text-align:center;color:red"><%= flash[:notice] %></p>
<div id="logonpanel">
	<h2 style="padding-left:10px">Welcome!</h2>
	<%= form_tag('/users/checkLogin', method: "post",  :id => "login", :name => "login") do  %>
		<div class="inputs">
			<label class="control-label">E-mail:</label>
			<input type="text" name="username" id="username" class="control-text">
		</div>
		<div class="inputs" style="margin-bottom:10px">
			<label class="control-label">Password:</label>
			<input type="password" name="pass" id="pass" class="control-text">
		</div>
		<div class="inputs">
			<button type="submit">Log In</button>&nbsp;&nbsp;<a style="font-size: 12px" href="#" onClick="displayRegPanel()" >New Member?</a>
		</div>
	<% end %>
</div>
<%= render partial: 'register' %>
<script src="/js/logon.js"></script>
