<div class="content modal" id="requestModal" style="display:none">
	<img src="/images/loading.gif" style="display:none" id="loading-post" style="margin-left:100px">
	<div id="request-content"></div>
	<div class="request-buttons">
		<button type="button" class="btn cancel sm" id="request-cancel-btn">Go Back</button>
	</div>
</div>